@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo me-1">  @await Html.PartialAsync("../_Partials/_Macros")</span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- Dashboards -->

    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards") ? " active open" : "")'>
      <a href="javascript:void(0);"   class="menu-link">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div>Dashboards</div>
      </a>
    </li>

    <li class="menu-header mt-7">
      <span class="menu-header-text">Registerations</span>
    </li>
    <!-- Apps -->
    <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
            <a class="menu-link"  asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
    </li>

        

        <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
            <a class="menu-link" asp-area="" asp-controller="Event" asp-action="Index">Event Type</a>

        </li>

  
  </ul>

</aside>
<!-- / Menu -->
